/* *************************************
Base
************************************* */
body{
	background-image:url(../img/sand.png);
}

h1, h2{
	font-family: 'Anton', sans-serif;
	font-size:40px;
}

h1{
	display: inline;
	font-size:100px;
	line-height: 0.8;
}

hr{
	margin:10px 0;
}

footer{
	font-size: 11px;
	color:grey;
	background-color: #101010;
	padding: 10px;
	text-align:right;
}

a{
	color:darkgrey;
}


/* *************************************
Layout
************************************* */


.teal-bg{
	background-color: #256289;
}

.lightblue-bg{
	background-color: #457fa5;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.white-bg{
	background-color:white;
}
.sand-bg{
	background-image:url(../img/sand.png);
}

.white{
	color:white;
}

.gold{
	color: #ba9427;
}

.light-gold{
		color:#ffe395;
}

.orange{
	color: #d68d31;
}
.purple{
	color: #323795;
}


.teal{
	color:#256289;
}

.padding-top-header{
	padding-top:50px;
	border-bottom-style: solid;
}

.padding-title{
	padding: 20px 40px;
}

.padding-bottom{
	padding-bottom: 20px;
}

.col-xs-12{
	padding: 5px 0;
}

.col-sm-4{
	padding-top: 15px;
}

.col-sm-6{
	padding:5px 15px;
}

.inline{
	display:inline;
	padding-top: 15px;
}

.align-bottom{
	vertical-align: bottom;
}

.single{
	padding:10px 0;
}


/*Text*/
.description, .nav{
	font-family: 'Raleway', sans-serif;
	font-weight:400; 
}

.list-group, .sub-category, .title, .sub-title, .sub-sub-title{
	font-family: 'Roboto', sans-serif;
}

.list-group{
	font-size: 20px;
	font-weight:500;
	margin-bottom:10px;
}

.title{
	font-size: 18px;
	text-transform: uppercase;
}

.sub-title, .sub-sub-title{
	font-size: 16px;
}

.sub-title{
	color:#fff4d5;
}


.description{
	font-size:14px;
}

.dBold{
	font-weight: 600;
}
/*Override the margin for the Bootstrap rows*/
.row{
	margin:0;
}

.center-block{
	margin: 0 auto;
}

.min-height{
	min-height: 210px;
}

.container-small{
	max-width: 800px;
}

.container-medium{
	max-width:1060px;
	padding: 40px;
}

.resize_90{
	width:90px;
	padding-bottom: 5px;
}

.sub-category{
	padding:5px;
	font-size: 20px;
}

.img-circle{
	border: 10px solid #ffffff;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.20), 0 6px 15px 0 rgba(0, 0, 0, 0.20);
	margin-bottom: 10px;
}

.single{
	min-width: 310px; 
	max-width: 800px; 
	height: 400px; 
}

/* *************************************
Modules
************************************* */
#experience{
	padding-top:10px;
}

#other{
	min-height: 150px;
}

#digital,#csc{
	border-bottom-style: solid;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

/* *************************************
State
************************************* */
.button:hover{
	cursor: pointer; cursor: hand;
}

@media screen and (max-width: 770px) {
	.pull-right{
		float:none!important;
		margin: 0 auto;
	} 

	.text-right{
		text-align: center;
	}
}



