/* *************************************
Base
************************************* */
h1{
	font-family: 'Raleway', sans-serif;
	font-weight:500; 
}


/* *************************************
Layout
************************************* */
.purple-bg{
	background-color: #323795;
}

.teal-bg{
	background-color: #256289;
}

.gold-bg{
	background-color: #d6ab31;
}

.orange-bg{
	background-color: #d68d31;
}


.full-height{
	min-height:100vh;
}

.align-bottom{
	width:100%;
	position:absolute;
	bottom:0px;
}

.padding-top-header{
	padding-top:80px;
}

.padding-left{
	padding-left: 40px;
}

.padding-top-50{
	padding-top:50px;
}

.list-group, .title, .nav{
	font-family: 'Raleway', sans-serif;
	font-weight:400; 
}

.list-group{
	font-size: 20px;
	font-weight:500;
	float:left;
}


h1, .list-group{
	text-shadow:2px 2px 2px #cbcbcb;
}

.title{
	font-size: 24px;
}


.sub-title{
	font-size:14px;
}

/*Override the margin for the Bootstrap rows*/
.row{
	margin:0;
}

.center-block{
	margin-left: auto;
	margin-right: auto;
}

.sub-category{
	padding:20px;
	color:white;
	font-size: 20px;
	min-height: 200px;
	max-width: 300px;
}

.resize_60{
	width:90px;
	padding-bottom: 5px;
}


.sand-bg{
	background-image:url(../img/sand.png);
}


.white{
	color:white;
}

.img-circle{
	border: 10px solid #ffffff;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25), 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}

.navbar-brand{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 35px;
}


.float-left{
	float:left;
}
/* *************************************
Modules
************************************* */


/* *************************************
State
************************************* */
.button:hover{
	cursor: pointer; cursor: hand;
}

@media screen and (max-width: 992px) {
	.align-bottom{
		position: relative;
	} 
}


