/* *************************************
Base
************************************* */
h1, h2{
	font-family: 'Anton', sans-serif;
	font-size:50px;
}

h1{
	display: inline;
	font-size:100px;
	line-height: 0.8;
}

/* *************************************
Layout
************************************* */


.purple-bg{
	background-color: #323795;
}

.teal-bg{
	background-color: #256289;
}

.gold-bg{
	background-color: #d6ab31;
}

.lightblue-bg{
	background-color: #3a7398;
}

.orange-bg{
	background-color: #d68d31;
}

.sand-bg{
	background-image:url(../img/sand.png);
}

.white{
	color:white;
}

.teal{
	color:#256289;
}

.padding-top-header{
	padding-top:50px;
}

.padding-title{
	padding: 20px 40px;
}


.h1-subtitle{
	font-family: 'Anton', sans-serif;
	font-size:20px;
	line-height: 0.8;
}

.sub-title,.title, .nav{
	font-family: 'Raleway', sans-serif;
	font-weight:400; 
}

.navbar-brand{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 35px;
}

.list-group, .sub-category{
	font-family: 'Roboto', sans-serif;
}

.list-group{
	font-size: 20px;
	font-weight:500;
	margin-bottom:10px;
}

.title{
	font-size: 24px;
}


.sub-title{
	font-size:14px;
}

/*Override the margin for the Bootstrap rows*/
.row{
	margin:0;
}

.center{
	width: 100%
	margin:0 auto;
}

.center-block{
	margin: 0 auto;
}



.float-left{
	float:left;
}

.resize_60{
	width:90px;
	padding-bottom: 5px;
}

.sub-category{
	padding:20px;
	color:white;
	font-size: 20px;
	min-height: 200px;
	max-width: 300px;
}

.img-circle{
	border: 10px solid #ffffff;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25), 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}



/* *************************************
Modules
************************************* */


/* *************************************
State
************************************* */
.button:hover{
	cursor: pointer; cursor: hand;
}

@media screen and (max-width: 992px) {
	.align-bottom{
		position: relative;
	} 
}


